EDA Notebook 1 (Russian Troll Tweets)

In [1]:
import pandas as pd 
import glob
import os
import numpy as np

In [41]:
pd.set_option('display.max_colwidth',None)

In [3]:
os.getcwd()

'/Users/katymatulay/Documents/GitHub/tweet-turing-test'

In [4]:
os.chdir('/Users/katymatulay/Documents/Drexel - Grad School/07 Fall 2022/DSCI591/Capstone/data')

In [5]:
print(os.listdir("../data"))

['IRAhandle_tweets_4.csv', 'IRAhandle_tweets_5.csv', 'IRAhandle_tweets_7.csv', 'IRAhandle_tweets_6.csv', 'Untitled1.ipynb', 'IRAhandle_tweets_2.csv', '.DS_Store', 'IRAhandle_tweets_3.csv', 'IRAhandle_tweets_1.csv', 'Untitled.ipynb', 'all_tweets_encoded.csv', 'English_tweets.csv', 'merged_dataset.csv', '.ipynb_checkpoints', 'IRAhandle_tweets_8.csv', 'IRAhandle_tweets_9.csv']

In [8]:
data = pd.read_csv("../data/English_tweets.csv",encoding='UTF-8',low_memory=False)

In [9]:
data.head(2)

,Unnamed: 0,external_author_id,author,content,region,language,publish_date,following,followers,updates,is_retweet,account_category,tweet_id,full_url,data_source
0,0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,1052,9636,253,0,RightTroll,914580356430536707,https://twitter.com/10_gop/status/914580356430...,Troll
1,1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,1054,9637,254,0,RightTroll,914621840496189440,https://twitter.com/damienwoody/status/9145685...,Troll

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2116867 entries, 0 to 2116866
Data columns (total 15 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   external_author_id  int64
 2   author              object
 3   content             object
 4   region              object
 5   language            object
 6   publish_date        object
 7   following           int64
 8   followers           int64
 9   updates             int64
 10  is_retweet          int64
 11  account_category    object
 12  tweet_id            int64
 13  full_url            object
 14  data_source         object
dtypes: int64(7), object(8)
memory usage: 242.3+ MB

In [15]:
data.isnull().sum()

Unnamed: 0                 0
external_author_id         0
author                     0
content                    1
region                  1136
language                   0
publish_date               0
following                  0
followers                  0
updates                    0
is_retweet                 0
account_category           0
tweet_id                   0
full_url              758807
data_source                0
dtype: int64

In [16]:
df = pd.read_csv("../data/merged_dataset.csv",encoding='UTF-8',low_memory=False)

In [17]:
df.shape

(2610060, 17)

In [18]:
df.head(5)

,Unnamed: 0,external_author_id,author,content,region,language,publish_date,following,followers,updates,is_retweet,account_category,tweet_id,full_url,has_URL,emoji_text,emoji_count
0,0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,1052.0,9636,253.0,0,RightTroll,914580356430536707,https://twitter.com/10_gop/status/914580356430...,0.0,[],0.0
1,1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,1054.0,9637,254.0,0,RightTroll,914621840496189440,https://twitter.com/damienwoody/status/9145685...,0.0,[],0.0
2,2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,1054.0,9637,255.0,1,RightTroll,914623490375979008,https://twitter.com/10_gop/status/913231923715...,0.0,[],0.0
3,3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,1062.0,9642,256.0,0,RightTroll,914639143690555392,https://twitter.com/10_gop/status/914639143690...,0.0,[],0.0
4,4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,1050.0,9645,246.0,1,RightTroll,914312219952861184,https://twitter.com/realDonaldTrump/status/914...,0.0,['flag: United States'],1.0

In [25]:
df.post_type.value_counts()

RETWEET        1270702
QUOTE_TWEET      40244
Name: post_type, dtype: int64

In [26]:
df.retweet.value_counts()

0    1662425
1    1310946
Name: retweet, dtype: int64

In [27]:
df.following.max()

76210

In [34]:
df.loc[df['following'] > 76000][:5]

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
2603189,4.224730e+09,TEN_GOP,'@lucianwintrich #LiberalLogic: When you don't...,United States,English,3/10/2017 19:41,3/10/2017 19:41,76023,93579,7698,NaN,Right,0,0,RightTroll
2603190,4.224730e+09,TEN_GOP,How does Angela Merkel sleep at night? https:/...,United States,English,3/10/2017 20:03,3/10/2017 20:03,76063,93588,7699,RETWEET,Right,0,1,RightTroll
2603191,4.224730e+09,TEN_GOP,Just another day in Paris. https://t.co/rfbT1O...,United States,English,3/10/2017 20:21,3/10/2017 20:21,76060,93599,7700,NaN,Right,0,0,RightTroll
2603192,4.224730e+09,TEN_GOP,BREAKING: Jeff Sessions asks Obama's holdover ...,United States,English,3/10/2017 20:34,3/10/2017 20:34,76060,93600,7701,NaN,Right,0,0,RightTroll
2603193,4.224730e+09,TEN_GOP,'@CNN ���',United States,English,3/10/2017 21:09,3/10/2017 21:09,76060,93609,7702,NaN,Right,0,0,RightTroll

In [38]:
df.iloc[[2603189]]['content']

2603189    '@lucianwintrich #LiberalLogic: When you don't...
Name: content, dtype: object

In [40]:
df.iloc[[2603189]]['content']

2603189    '@lucianwintrich #LiberalLogic: When you don't agree and have no counter argument call them a Nazi.'
Name: content, dtype: object