EDA Notebook 1

In [1]:
import pandas as pd 
import glob
import os
import numpy as np

In [41]:
pd.set_option('display.max_colwidth',None)

In [8]:
print(os.listdir("../data"))

['IRAhandle_tweets_4.csv', 'IRAhandle_tweets_5.csv', 'IRAhandle_tweets_7.csv', 'IRAhandle_tweets_6.csv', 'IRAhandle_tweets_2.csv', 'IRAhandle_tweets_3.csv', 'IRAhandle_tweets_1.csv', 'Untitled.ipynb', '.ipynb_checkpoints', 'IRAhandle_tweets_8.csv', 'IRAhandle_tweets_9.csv']

In [4]:
os.getcwd()

'/Users/katymatulay/Documents/Drexel - Grad School/07 Fall 2022/DSCI591/Capstone/data'

In [5]:
data = pd.read_csv("../data/IRAhandle_tweets_1.csv")

In [42]:
data.head(2)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on trial for corruption and you've barely heard a peep from the mainstream media."" ~ @nedryun https://t.co/gh6g0D1oiC",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump shirt. Judging by his sagging pants the shirt should say Lynch vs. belt https://t.co/mLH1i30LZZ,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll

In [11]:
#merge all CSVs into one dataframe 
#cite: https://www.tutorialspoint.com/how-to-merge-all-csv-files-into-a-single-dataframe-python-pandas
files = os.path.join("../data","IRAhandle_*.csv")
files = glob.glob(files)

df= pd.concat(map(pd.read_csv, files),ignore_index=True)

In [12]:
df.head(5)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.674084e+09,GAB1ALDANA,People are too toxic. I think I have people po...,United States,English,7/30/2016 20:15,7/30/2016 20:15,3395,2014,2150,RETWEET,Hashtager,0,1,HashtagGamer
1,1.674084e+09,GAB1ALDANA,#NowPlaying Don't Shoot (I'm a Man) by @DEVO -...,United States,English,7/30/2016 20:15,7/30/2016 20:15,3395,2014,2146,RETWEET,Hashtager,0,1,HashtagGamer
2,1.674084e+09,GAB1ALDANA,the 'I'm the most boring person in the world' ...,United States,English,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2159,RETWEET,Hashtager,0,1,HashtagGamer
3,1.674084e+09,GAB1ALDANA,#MyAchillesHeel slippery floors https://t.co/R...,United States,Norwegian,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2160,RETWEET,Hashtager,0,1,HashtagGamer
4,1.674084e+09,GAB1ALDANA,#MyAchillesHeel Boring narcissists.....nothing...,United States,English,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2158,RETWEET,Hashtager,0,1,HashtagGamer

In [14]:
df.shape

(2973371, 15)

In [24]:
df.post_type.isnull().sum()

1662425

In [25]:
df.post_type.value_counts()

RETWEET        1270702
QUOTE_TWEET      40244
Name: post_type, dtype: int64

In [26]:
df.retweet.value_counts()

0    1662425
1    1310946
Name: retweet, dtype: int64

In [27]:
df.following.max()

76210

In [34]:
df.loc[df['following'] > 76000][:5]

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
2603189,4.224730e+09,TEN_GOP,'@lucianwintrich #LiberalLogic: When you don't...,United States,English,3/10/2017 19:41,3/10/2017 19:41,76023,93579,7698,NaN,Right,0,0,RightTroll
2603190,4.224730e+09,TEN_GOP,How does Angela Merkel sleep at night? https:/...,United States,English,3/10/2017 20:03,3/10/2017 20:03,76063,93588,7699,RETWEET,Right,0,1,RightTroll
2603191,4.224730e+09,TEN_GOP,Just another day in Paris. https://t.co/rfbT1O...,United States,English,3/10/2017 20:21,3/10/2017 20:21,76060,93599,7700,NaN,Right,0,0,RightTroll
2603192,4.224730e+09,TEN_GOP,BREAKING: Jeff Sessions asks Obama's holdover ...,United States,English,3/10/2017 20:34,3/10/2017 20:34,76060,93600,7701,NaN,Right,0,0,RightTroll
2603193,4.224730e+09,TEN_GOP,'@CNN ���',United States,English,3/10/2017 21:09,3/10/2017 21:09,76060,93609,7702,NaN,Right,0,0,RightTroll

In [38]:
df.iloc[[2603189]]['content']

2603189    '@lucianwintrich #LiberalLogic: When you don't...
Name: content, dtype: object

In [40]:
df.iloc[[2603189]]['content']

2603189    '@lucianwintrich #LiberalLogic: When you don't agree and have no counter argument call them a Nazi.'
Name: content, dtype: object