Merge JSON Files

In [2]:
import pandas as pd
import json
import os
import numpy as np

In [8]:
os.getcwd()

'/Users/katymatulay/Documents/Drexel - Grad School/07 Fall 2022/DSCI591/Capstone/Tweet_Downloads'

In [26]:
''' Function takes a file path, extracts json files, and creates a merged json file'''
def get_files(path):
    import os
    #get list of files in directory
    file_list = os.listdir(path)
    #create list to store only json files
    json_files=[]
    for i in file_list:
        if i.endswith('.json'):
            json_files.append(i)
    return json_files

In [27]:
##Replace string with your file path
your_path = '/Users/katymatulay/Documents/Drexel - Grad School/07 Fall 2022/DSCI591/Capstone/Tweet_Downloads/'
json_files = get_files(your_path)

In [28]:
print(json_files)

['MikePence.json', 'News_Oct14.json', 'News_Oct15.json', 'CondoleezzaRice.json', 'GovtEntities2.json', 'MittRomney3.json', 'DonaldJTrumpJr.json', 'BarackObama.json', 'News_Oct13.json', 'elonmusk.json', 'HillaryClinton.json', 'GovtEntities.json', 'SarahPalin.json', 'News_Oct16.json', 'News_Oct17.json', 'BillGates.json', 'MichelleObama.json']

In [36]:
''' Function takes a list of json file names from a local folder and returns them as a single json list.
    Function also outputs 1 json file containing all merged json files'''
def merge_JsonFiles(file_list):
    result = list()
    for f1 in file_list:
        with open(f1, 'r', encoding='UTF-8') as infile:
            result.extend(json.load(infile))
            
    with open('tweet_master.json', 'w') as output_file:
        json.dump(result, output_file)
    return result

In [37]:
tweet_master = merge_JsonFiles(json_files)

In [38]:
print(len(tweet_master))

493186

# STOP HERE FOR MERGE JSON
DELETE EVERYTHING BELOW AS IT HAS BEEN ADDED TO UNIVERSAL PRE-PROCESSING NOTEBOOK

In [3]:
#UNCOMMENT & RUN if tweet_master.json was already written to disk

#with open('tweet_master.json', encoding='UTF-8') as json_file:
#    tweet_master = json.load(json_file)

In [4]:
#convert json to pandas dataframe using normalize to flatten dict
df= pd.json_normalize(tweet_master)

In [6]:
pd.set_option('display.max_columns', None)

In [7]:
df.shape

(493186, 57)

In [9]:
df.head(2)

,author_id,id,lang,conversation_id,edit_history_tweet_ids,reply_settings,created_at,context_annotations,source,text,possibly_sensitive,media,edit_controls.edits_remaining,edit_controls.is_edit_eligible,edit_controls.editable_until,attachments.media_keys,entities.annotations,entities.mentions,entities.urls,entities.hashtags,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,author.description,author.public_metrics.followers_count,author.public_metrics.following_count,author.public_metrics.tweet_count,author.public_metrics.listed_count,author.id,author.username,author.verified,author.created_at,author.name,author.pinned_tweet_id,author.profile_image_url,author.protected,in_reply_to_user_id,referenced_tweets,geo.country,geo.geo.type,geo.geo.bbox,geo.id,geo.country_code,geo.name,geo.place_type,geo.full_name,author.entities.url.urls,author.entities.description.urls,author.url,author.location,author.entities.description.mentions,entities.cashtags,attachments.poll_ids,geo.coordinates.type,geo.coordinates.coordinates,author.entities.description.hashtags
0,22203756,930982584649175047,en,930982584649175047,[930982584649175047],everyone,2017-11-16T02:15:19.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",Twitter for iPhone,Great meeting w/ GOP Govs at @The_RGA on @real...,False,"[{'type': 'photo', 'media_key': '3_93098256771...",5,True,2017-11-16T02:45:19.000Z,[3_930982567712641025],"[{'start': 278, 'end': 284, 'probability': 0.3...","[{'start': 41, 'end': 57, 'username': 'realDon...","[{'start': 286, 'end': 309, 'url': 'https://t....","[{'start': 277, 'end': 285, 'tag': 'RGA2017'}]",544,2217,3783,102,"Husband, father, 48th Vice President of the Un...",5835052,59,15232,11683,22203756,Mike_Pence,True,2009-02-27T23:04:51.000Z,Mike Pence,1551931068873424899,https://pbs.twimg.com/profile_images/137229142...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22203756,930954564769124352,en,930954365334097921,[930954564769124352],everyone,2017-11-16T00:23:59.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",Twitter for iPhone,.@realdonaldtrump's vision for tax cuts will d...,False,NaN,5,True,2017-11-16T00:53:59.000Z,NaN,NaN,"[{'start': 1, 'end': 17, 'username': 'realDona...",NaN,"[{'start': 209, 'end': 217, 'tag': 'RGA2017'}]",369,925,2919,74,"Husband, father, 48th Vice President of the Un...",5835052,59,15232,11683,22203756,Mike_Pence,True,2009-02-27T23:04:51.000Z,Mike Pence,1551931068873424899,https://pbs.twimg.com/profile_images/137229142...,False,22203756,"[{'type': 'replied_to', 'id': '930954365334097...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index(['author_id', 'id', 'lang', 'conversation_id', 'edit_history_tweet_ids',
       'reply_settings', 'created_at', 'context_annotations', 'source', 'text',
       'possibly_sensitive', 'media', 'edit_controls.edits_remaining',
       'edit_controls.is_edit_eligible', 'edit_controls.editable_until',
       'attachments.media_keys', 'entities.annotations', 'entities.mentions',
       'entities.urls', 'entities.hashtags', 'public_metrics.retweet_count',
       'public_metrics.reply_count', 'public_metrics.like_count',
       'public_metrics.quote_count', 'author.description',
       'author.public_metrics.followers_count',
       'author.public_metrics.following_count',
       'author.public_metrics.tweet_count',
       'author.public_metrics.listed_count', 'author.id', 'author.username',
       'author.verified', 'author.created_at', 'author.name',
       'author.pinned_tweet_id', 'author.profile_image_url',
       'author.protected', 'in_reply_to_user_id', 'referenced_tweets',
       'geo.country', 'geo.geo.type', 'geo.geo.bbox', 'geo.id',
       'geo.country_code', 'geo.name', 'geo.place_type', 'geo.full_name',
       'author.entities.url.urls', 'author.entities.description.urls',
       'author.url', 'author.location', 'author.entities.description.mentions',
       'entities.cashtags', 'attachments.poll_ids', 'geo.coordinates.type',
       'geo.coordinates.coordinates', 'author.entities.description.hashtags'],
      dtype='object')

In [38]:
len(df.columns)

57

In [11]:
cols_keep = ['author_id','created_at','id','text','lang','author.location','author.name',
             'public_metrics.retweet_count','public_metrics.reply_count','public_metrics.like_count',
             'public_metrics.quote_count','author.username','author.public_metrics.followers_count',
             'author.public_metrics.following_count','author.entities.url.urls','author.created_at',
             'author.verified','context_annotations','entities.annotations','entities.mentions',
             'entities.hashtags', 'entities.urls']

In [39]:
len(df1.columns)

24

In [12]:
df1 = df[cols_keep]

In [13]:
#add new column with binary 1/0 if tweet is Retweet
df1['is_retweet']= np.where(df1.text.str.startswith('RT @'),1,0)

<ipython-input-13-d690f7b02df7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['is_retweet']= np.where(df1.text.str.startswith('RT @'),1,0)

In [14]:
df1['is_retweet'].value_counts()

0    409630
1     83556
Name: is_retweet, dtype: int64

In [15]:
#cols to add together to match the main dataset column "updates"
update_cols = ['public_metrics.retweet_count',
       'public_metrics.reply_count', 'public_metrics.like_count',
       'public_metrics.quote_count']

In [16]:
df1['updates']= df1[update_cols].sum(axis=1)

<ipython-input-16-442679c96d10>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['updates']= df1[update_cols].sum(axis=1)

In [20]:
#drop cols not in original dataset
df2 = df1.drop(['public_metrics.reply_count', 'public_metrics.quote_count'], axis=1)

In [22]:
df2.columns

Index(['author_id', 'created_at', 'id', 'text', 'lang', 'author.location',
       'author.name', 'public_metrics.retweet_count',
       'public_metrics.like_count', 'author.username',
       'author.public_metrics.followers_count',
       'author.public_metrics.following_count', 'author.entities.url.urls',
       'author.created_at', 'author.verified', 'context_annotations',
       'entities.annotations', 'entities.mentions', 'entities.hashtags',
       'entities.urls', 'is_retweet', 'updates'],
      dtype='object')

### Convert Emojis to text and count emojis

In [23]:
''' The following converts a text string with emojis into a list of descriptive text strings.
    Duplicate emojis are captured as each emoji converts to 1 text string.'''
def convert_emoji_list(x):
    lst=[]
    estring = ''
    import demoji
    import numpy as np
    if x is not np.nan:
        #extract list of text from demoji func
        lst = demoji.findall_list(x)
        if len(lst)<0:
            return np.nan
            
        else:
            return(lst)

#### Test function on small set

In [24]:
test = df2[:5]

In [26]:
test['emoji_text']= test['text'].apply(convert_emoji_list)

<ipython-input-26-62a586609c86>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['emoji_text']= test['text'].apply(convert_emoji_list)

In [27]:
test['emoji_count']= test['emoji_text'].apply(lambda x: len(x))

<ipython-input-27-f6afc7953188>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['emoji_count']= test['emoji_text'].apply(lambda x: len(x))

In [28]:
test

,author_id,created_at,id,text,lang,author.location,author.name,public_metrics.retweet_count,public_metrics.like_count,author.username,author.public_metrics.followers_count,author.public_metrics.following_count,author.entities.url.urls,author.created_at,author.verified,context_annotations,entities.annotations,entities.mentions,entities.hashtags,entities.urls,is_retweet,updates,emoji_text,emoji_count
0,22203756,2017-11-16T02:15:19.000Z,930982584649175047,Great meeting w/ GOP Govs at @The_RGA on @real...,en,NaN,Mike Pence,544,3783,Mike_Pence,5835052,59,NaN,2009-02-27T23:04:51.000Z,True,"[{'domain': {'id': '10', 'name': 'Person', 'de...","[{'start': 278, 'end': 284, 'probability': 0.3...","[{'start': 41, 'end': 57, 'username': 'realDon...","[{'start': 277, 'end': 285, 'tag': 'RGA2017'}]","[{'start': 286, 'end': 309, 'url': 'https://t....",0,6646,[],0
1,22203756,2017-11-16T00:23:59.000Z,930954564769124352,.@realdonaldtrump's vision for tax cuts will d...,en,NaN,Mike Pence,369,2919,Mike_Pence,5835052,59,NaN,2009-02-27T23:04:51.000Z,True,"[{'domain': {'id': '10', 'name': 'Person', 'de...",NaN,"[{'start': 1, 'end': 17, 'username': 'realDona...","[{'start': 209, 'end': 217, 'tag': 'RGA2017'}]",NaN,0,4287,[],0
2,22203756,2017-11-08T15:30:54.000Z,928283695353683970,RT @VP: A year of accomplishments under @POTUS...,en,NaN,Mike Pence,2477,0,Mike_Pence,5835052,59,NaN,2009-02-27T23:04:51.000Z,True,"[{'domain': {'id': '10', 'name': 'Person', 'de...","[{'start': 107, 'end': 111, 'probability': 0.5...","[{'start': 3, 'end': 6, 'username': 'VP', 'id'...",NaN,NaN,1,2477,[],0
3,22203756,2017-11-07T13:07:37.000Z,927885251233439745,".@EdWGillespie will cut taxes, grow the econom...",en,NaN,Mike Pence,1280,7034,Mike_Pence,5835052,59,NaN,2009-02-27T23:04:51.000Z,True,"[{'domain': {'id': '10', 'name': 'Person', 'de...","[{'start': 112, 'end': 119, 'probability': 0.7...","[{'start': 1, 'end': 14, 'username': 'EdWGille...",NaN,NaN,0,9173,[],0
4,22203756,2017-11-04T22:32:53.000Z,926940341361659905,I'm honored. Thanks for all @SBAList does for ...,en,NaN,Mike Pence,952,5915,Mike_Pence,5835052,59,NaN,2009-02-27T23:04:51.000Z,True,"[{'domain': {'id': '10', 'name': 'Person', 'de...",NaN,"[{'start': 28, 'end': 36, 'username': 'sbalist...",NaN,"[{'start': 60, 'end': 83, 'url': 'https://t.co...",0,7567,[],0

#### Apply to entire dataframe
WARNING: Takes significant time on larger dataframes

In [29]:
df2['emoji_text']= df2['text'].apply(convert_emoji_list)

In [30]:
#add another feature column: # emojis used in tweet
df2['emoji_count']= df2['emoji_text'].apply(lambda x: len(x))

In [33]:
df2.head(5)

,author_id,created_at,id,text,lang,author.location,author.name,public_metrics.retweet_count,public_metrics.like_count,author.username,author.public_metrics.followers_count,author.public_metrics.following_count,author.entities.url.urls,author.created_at,author.verified,context_annotations,entities.annotations,entities.mentions,entities.hashtags,entities.urls,is_retweet,updates,emoji_text,emoji_count
0,22203756,2017-11-16T02:15:19.000Z,930982584649175047,Great meeting w/ GOP Govs at @The_RGA on @real...,en,NaN,Mike Pence,544,3783,Mike_Pence,5835052,59,NaN,2009-02-27T23:04:51.000Z,True,"[{'domain': {'id': '10', 'name': 'Person', 'de...","[{'start': 278, 'end': 284, 'probability': 0.3...","[{'start': 41, 'end': 57, 'username': 'realDon...","[{'start': 277, 'end': 285, 'tag': 'RGA2017'}]","[{'start': 286, 'end': 309, 'url': 'https://t....",0,6646,[],0
1,22203756,2017-11-16T00:23:59.000Z,930954564769124352,.@realdonaldtrump's vision for tax cuts will d...,en,NaN,Mike Pence,369,2919,Mike_Pence,5835052,59,NaN,2009-02-27T23:04:51.000Z,True,"[{'domain': {'id': '10', 'name': 'Person', 'de...",NaN,"[{'start': 1, 'end': 17, 'username': 'realDona...","[{'start': 209, 'end': 217, 'tag': 'RGA2017'}]",NaN,0,4287,[],0
2,22203756,2017-11-08T15:30:54.000Z,928283695353683970,RT @VP: A year of accomplishments under @POTUS...,en,NaN,Mike Pence,2477,0,Mike_Pence,5835052,59,NaN,2009-02-27T23:04:51.000Z,True,"[{'domain': {'id': '10', 'name': 'Person', 'de...","[{'start': 107, 'end': 111, 'probability': 0.5...","[{'start': 3, 'end': 6, 'username': 'VP', 'id'...",NaN,NaN,1,2477,[],0
3,22203756,2017-11-07T13:07:37.000Z,927885251233439745,".@EdWGillespie will cut taxes, grow the econom...",en,NaN,Mike Pence,1280,7034,Mike_Pence,5835052,59,NaN,2009-02-27T23:04:51.000Z,True,"[{'domain': {'id': '10', 'name': 'Person', 'de...","[{'start': 112, 'end': 119, 'probability': 0.7...","[{'start': 1, 'end': 14, 'username': 'EdWGille...",NaN,NaN,0,9173,[],0
4,22203756,2017-11-04T22:32:53.000Z,926940341361659905,I'm honored. Thanks for all @SBAList does for ...,en,NaN,Mike Pence,952,5915,Mike_Pence,5835052,59,NaN,2009-02-27T23:04:51.000Z,True,"[{'domain': {'id': '10', 'name': 'Person', 'de...",NaN,"[{'start': 28, 'end': 36, 'username': 'sbalist...",NaN,"[{'start': 60, 'end': 83, 'url': 'https://t.co...",0,7567,[],0

#### Extract if text has URL as feature

In [48]:
#Extract hyperlink from text
#add new column with binary 1/0 if tweet is Retweet
df2['has_URL']= np.where(df2.text.str.contains('http:'),1,0)

In [50]:
df2.has_URL.value_counts()

0    339939
1    153247
Name: has_URL, dtype: int64

In [49]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493186 entries, 0 to 493185
Data columns (total 25 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   author_id                              493186 non-null  object
 1   created_at                             493186 non-null  object
 2   id                                     493186 non-null  object
 3   text                                   493186 non-null  object
 4   lang                                   493186 non-null  object
 5   author.location                        441555 non-null  object
 6   author.name                            493186 non-null  object
 7   public_metrics.retweet_count           493186 non-null  int64
 8   public_metrics.like_count              493186 non-null  int64
 9   author.username                        493186 non-null  object
 10  author.public_metrics.followers_count  493186 non-null  int64
 11  author.public_metrics.following_count  493186 non-null  int64
 12  author.entities.url.urls               486135 non-null  object
 13  author.created_at                      493186 non-null  object
 14  author.verified                        493186 non-null  bool
 15  context_annotations                    111749 non-null  object
 16  entities.annotations                   368831 non-null  object
 17  entities.mentions                      205824 non-null  object
 18  entities.hashtags                      134141 non-null  object
 19  entities.urls                          383066 non-null  object
 20  is_retweet                             493186 non-null  int64
 21  updates                                493186 non-null  int64
 22  emoji_text                             493186 non-null  object
 23  emoji_count                            493186 non-null  int64
 24  has_URL                                493186 non-null  int64
dtypes: bool(1), int64(8), object(16)
memory usage: 90.8+ MB

In [52]:
#add Account_type column to represent verified account
df2['account_category']= df2['author.verified'].apply(lambda x: 'Verified_User' if True else 0)

In [57]:
df2['account_category'].value_counts()

Verified_User    493186
Name: account_category, dtype: int64